USE [master]
GO
/****** Object:  Database [TicketDB]    Script Date: 3/17/2026 10:37:40 PM ******/
CREATE DATABASE [TicketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketDB', FILENAME = N'C:\Users\PC\TicketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketDB_log', FILENAME = N'C:\Users\PC\TicketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketDB]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 3/17/2026 10:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/17/2026 10:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Role]='User' OR [Role]='Admin'))
GO
USE [master]
GO

use [TicketDB]
-- Limpiamos por si acaso quedó algún registro a medias del intento anterior
-- DELETE FROM Tickets; 

DECLARE @i INT = 1;

-- Generar 10 tickets para UserID 1 (10 en total)
WHILE @i <= 10
BEGIN
    INSERT INTO Tickets (Title, Description, Status, CreatedAt, UserId)
    VALUES (
        CONCAT('Incidencia de Software #', @i, ' - Dev1'),
        CONCAT('Error detectado en el módulo de despliegue automático, reporte #', @i),
        CASE WHEN @i % 2 = 0 THEN 'Open' ELSE 'Closed' END, -- Alterna entre Open y Closed
        DATEADD(DAY, -@i, GETDATE()),
        1
    );
    SET @i = @i + 1;
END

-- Reiniciar contador y generar 20 tickets para UserID 2 (20 en total)
SET @i = 1;
WHILE @i <= 20
BEGIN
    INSERT INTO Tickets (Title, Description, Status, CreatedAt, UserId)
    VALUES (
        CONCAT('Ticket de Deployment #', @i, ' - Dev2'),
        CONCAT('Validación de pipeline de CI/CD para la aplicación ID: ', @i),
        CASE WHEN @i % 3 = 0 THEN 'Closed' ELSE 'Open' END, -- Mayoría "Open" para pruebas
        DATEADD(HOUR, -@i * 3, GETDATE()),
        2
    );
    SET @i = @i + 1;
END

PRINT 'Carga finalizada: 10 tickets para UserID 1 y 20 tickets para UserID 2.';

-- Habilitar inserción manual de ID si la columna es IDENTITY
SET IDENTITY_INSERT Usuarios ON;

INSERT INTO Usuarios (Id, Email, Password, Role)
VALUES 
(1, 'user@example.com', 'YPw+xn3VtjOQmB6OQ2/cYg==.sgSoG5NavzO1cUJnU5cT3S6AvDfjB9joHTlas7mFrdo=', 'User'),
(2, 'admin@example.com', 'CpHSaZbyC/8WpVUul6mOrw==.XdlvnLqDNRPnFnI5hnNOUNlNu6hsKHAwuRGFGnkedpM=', 'Admin');

-- Deshabilitar inserción manual de ID
SET IDENTITY_INSERT Usuarios OFF;

PRINT 'Usuarios creados correctamente.';
